#container{
  display:flex;
  justify-content: center;

}
 #nameDiv{
  margin: 0px 0px 10px 0px;
}
#agreeDiv{
  margin-bottom: 30px;
}
.App {
  padding: 30px;
  width:400px ;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px #00000020;
  border-radius: 5px;
  margin-top: 100px;
}
h1{
  font-size:18px;
  margin: 0;
  color:#545454;
  margin-bottom: 20px;
}
.inputStyle{
  outline: 0px;
    /* height: 21px; */
    width: 290px;
    height: 25px;
    background: #00000007;
    /* width: 100%; */
    /* box-shadow: 0px 0px 3px 0px #00000040; */
    border: 1.5px solid #00000040;
    padding: 3px;
    border-radius: 5px;
}
label{
  display: block;
  font-weight: 600;
}
#agreeLabel{
  display: inline-block;
}
#submit{
  width: 90px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  outline: 0px;
  border: 0px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  margin: auto;
  display: block;
  font-weight: 100;
}

    @media only screen and (max-width: 1024px) {
.App {
  margin-top: 0px;
  box-shadow: 0px 0px 0px 0px;
  }
    .inputStyle {
      width: 90%;
    }
}




